*{
    box-sizing: border-box;
}

body{
    background-color: darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin-left: 1rem;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.results{
    display: flex;
    flex-wrap: wrap;
}

.results{
    margin: 1rem;
    padding: 1rem;
    max-width: 250px;
    background: white;
    border: 1px gray;
    border-radius: 1px;
}

.error{
    border: 1px red;
    padding: 1rem;
    color: red;
    background: rgb(255, 68, 68);
}

.loading{
    display: flex;
    justify-content: center;
}

.loading::after{
    content: "";
    width: 25px;
    height: 25px;
    border: 10px solid #dddddd;
    border-top-color: gray;
    border-bottom-color: gray;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to{
        transform: rotate(1turn);
    }
}